# Ignore virtual environment
.venv/

# Ignore experimental files
experiments/

# Ignore post-process results and other output files
*.pdf
question_similarity.txt
responses.db

# Ignore temporary files
~$*